<div class="modal-body">
  <div class="alert alert-success">
    <p>Top Containers successfully updated</p>
  </div>
  <p>Please be aware that changes may take a moment before reflected in the search results.</p>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal"><%= I18n.t("actions.continue") %></button>
</div>