<div class="modal-body">
  <div class="alert alert-success">Top Containers successfully updated</div>
  <p><strong>Please be aware it may take a moment before changes are reflected in the search results.</strong></p>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal"><%= I18n.t("actions.continue") %></button>
</div>