<div id="bulk_action_test_selection"><!--
  <ul>
  {for container in selection}
    <li><strong>${container[1]}</strong>&nbsp;&nbsp;&nbsp;${container[0]}</li>
  {/for}
  </ul>
--></div>

<div id="bulk_action_update_ils_holding"><!--
    <div class="alert alert-info" id="alertBucket">Enter a value for ILS Holding ID for all selected containers.</div>
    <%= form_tag({:controller => :top_containers, :action => :bulk_operation_update}, {:class => "form-horizontal", :id => "bulk_update_form" }) do |f| %>
      <div class="span4">
        <div class="control-group">
          <label class="control-label" for="ils_holding_id">ILS Holding ID</label>
          <div class="controls">
            <%= text_field_tag "ils_holding_id", params["ils_holding_id"], :style => "width: 80%;" %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= submit_tag "Update ${selection.length} records", :id => "bulk_update_submit", :class => "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>

    <script>
      $('#bulk_update_form').on("submit", function(event) {
        event.preventDefault();
        var ids = '';
        {for container in selection}
          ids += "${container[0]}".replace(/(.+\/)/, '') + ',';
        {/for}
        ids = ids.slice(0,-1);
        data = $('#bulk_update_form').serializeArray();
        data.push({name: "ids", value: ids});
        $.ajax({
          url:"/plugins/top_containers/bulk_operations/update",
          data: data,
          type: "post",
          success: function(html) {
            $.each($(":input[name=fieldToggle]"), function(idx, cb) {
              if (cb.checked) {
                cb.click();
              }
            });
            $('#alertBucket').replaceWith(html);
          },
          error: function(jqXHR, textStatus, errorThrown) {
            $('#alertBucket').replaceWith('<div id="alertBucket" class="alert alert-error">' + jqXHR.responseText + '</div>');
          }
        });
      });

    </script>
--></div>
