<script src="<%= "#{AppConfig[:frontend_prefix]}assets/top_containers.bulk.barcodes.js" %>"></script>

<div id="template_bulk_barcode_action_dialog"><!--
  <div class="modal-body">
    <table class="table table-striped table-bordered table-condensed table-hover">
    {for container in selection}
      <tr>
        <td>${container.display_string}</td>
        <td>${container.row.find(".top-container-linked-records").html()}</td>
        <td><input type="text" name="${container.uri}" value="${container.row.find(".top-container-barcode").text().trim()}" /></td>
      </tr>
    {/for}
    </table>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Update ${selection.length} records</button>
    <button class="btn btn-cancel" data-dismiss="modal"><%= I18n.t("actions.cancel") %></button>
  </div>
--></div>

<div id="template_bulk_action_barcodes_menu_item"><!--
  <li><a id="showBulkActionRapidBarcodeEntry" href="javascript:void(0);">Rapid Barcode Entry</a></li>
--></div>