<div class="record-toolbar bulk-operation-toolbar">
  <div class="pull-right">
    <div id="bulkActions" class="btn-group">
      <a class="btn btn-small dropdown-toggle disabled" data-toggle="dropdown" href="#">
        Bulk Operations
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a id="bulkActionUpdateIlsHolding" href="javascript:void(0)">Update ILS Holding IDs</a></li>
        <li><a id="bulkActionDelete" href="javascript:void(0)">Delete Top Containers</a></li>
      </ul>
    </div>
  </div>
</div>
