<div id="extent_calculator_show_calculation_template" record_uri="<%= record.uri %>"><!--
<div id="show_calculation_results" class="row-fluid" style="overflow-y: auto; max-height: 90%;">
  <div class="record-pane">
    <h3>
      Calculating extent ...
    </h3>
  </div>
</div>
--></div>
