<%= render_aspace_partial :partial => "extent_calculator/show_calculation_template", :locals => {:record => record} %>
<a href="javascript:void(0);" class="btn btn-small extent-calculator-btn">Calculate Extent</a>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/extent_calculator.js" %>"></script>
